<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <title>WikiMedic - Inicio</title>
   <link rel="stylesheet" href="/css/Index.css">
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>

  <!-- Header con logo -->
  <header>
    <div class="logo">
      <img src="img/logo.png" alt="Logo" />
      <span>WIKIMEDIC</span>
    </div>
  </header>

  <!-- Sección principal -->
  <section class="section">
    <!-- Texto -->
    <div class="text-content">
      <h2>¿QUÉ ES WIKIMEDIC?</h2>
      <p>
        Aquí encontrarás información precisa y verificada sobre los principios activos más comunes utilizados
        para tratar diversas molestias y enfermedades. Nuestro compromiso es ofrecerte contenido confiable para que
        puedas tomar decisiones informadas sobre tu salud.
      </p>
      <div class="buttons">
        <a href="/buscar-medicinas">Buscar Medicina</a>
        <a href="/buscar-afecciones">Buscar por Síntoma</a>
      </div>
    </div>

    <!-- Imagen -->
    <div class="img-content">
      <img src="img/doctora.png" alt="Doctora en laptop">
    </div>
  </section>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>

  <!-- Footer -->
  <footer>
    © 2025 WikiMedic. Todos los derechos reservados.
  </footer>
</body>
</html>
</body>
</html>
